<h2>The Squawker Server</h2>
Hi {{name}}, enter the API Key of the Squawk you want to send
<form method="post" action="/">
  <input type="test" name="{{clientToken}}"><br/>
  <input type="radio" name="groupCD" value="{{asser_key}}"> Asser<br/>
  <input type="radio" name="groupCD" value="{{cezanne_key}}" > Cezanne<br/>
  <input type="radio" name="groupCD" value="{{jlin_key}}" > Jessica<br/>
  <input type="radio" name="groupCD" value="{{lyla_key}}" > Lyla<br/>
  <input type="radio" name="groupCD" value="{{nikita_key}}" > Nikita<br/>
  <input type="radio" name="groupCD" value="{{random_key}}" checked> Random<br/>
  <input type="submit" value="Send Squawk">
</form>
